@model List<Matricula>
@{
    ViewBag.Title = "Matriculas";

    string mensaje = TempData["Mensaje"]?.ToString();
    string error = TempData["Error"]?.ToString();
}

<h2>Lista de Matriculas</h2>

<div class="row">
    <div class="col-md-12 text-center">
        <a href="/Matricula/Nuevo" class="btn btn-warning">Nuevo</a>
        <hr />
    </div>

    @if (error != null)
    {
        ViewBag.Message = error;
        <div class="col-md-12">
            @{ Html.RenderPartial("_Error");}
        </div>
    }

    @if (mensaje != null)
    {
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4> Información!</h4>
                <label>@mensaje</label>
            </div>
        </div>
    }

    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr class="bg-primary text-center">
                        <th width="80" rowspan="2"></th>
                        <th width="40" rowspan="2">#</th>
                        <th width="100" rowspan="2">ID MATRICULA</th>
                        <th colspan="3">ALUMNO</th>
                        <th colspan="3">CURSO</th>
                        <th rowspan="2">SECCION</th>
                        <th width="100" rowspan="2">TIPO MATRÍCULA</th>
                        <th width="120" rowspan="2">FECHA MATRÍCULA</th>
                        <th width="120" rowspan="2">FECHA ANULACIÓN</th>
                    </tr>
                    <tr class="bg-primary text-center">
                        <th width="120">CÓDIGO</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>

                        <th width="100">ID</th>
                        <th>DESCRIPCIÓN</th>
                        <th width="80">CREDITOS</th>
                    </tr>
                </thead>
                <tbody class="nowrap">
                    @if (Model.Count > 0)
                    {
                        int i = 0;
                        foreach (Matricula item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @if (item.Estado == EstadoMatricula.ACTIVO)
                                    {
                                        <a href="javascript:index.Anular(@item.Id)" class="text-danger">ANULAR</a>
                                    }
                                </td>
                                <td class="text-right">@(++i)</td>
                                <td class="text-center">@item.Id</td>

                                <td class="text-center">@item.Alumno.Codigo</td>
                                <td>@item.Alumno.Nombre</td>
                                <td>@item.Alumno.Apellido</td>

                                <td class="text-center">@item.Seccion.Curso.Id</td>
                                <td>@item.Seccion.Curso.Descripcion</td>
                                <td class="text-right">@item.Seccion.Curso.Credito</td>

                                <td class="text-center">@item.Seccion.Descripcion</td>

                                <td class="text-center">@item.Tipo</td>
                                <td>@item.Registro.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@(item.Anulacion?.ToString("dd/MM/yyyy HH:mm"))</td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="13" class="text-center">NO EXISTE REGISTROS</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var index = {
            Anular: (id) => {
                if (confirm('¿Esta seguro de anular la matricula?')) {
                    location.href = '/Matricula/Anular/' + id
                }
            }
        }
    </script>
}